<div *ngIf="menu">
    <h2>{{ menu.title }}</h2>
    <p>{{ menu.description }}</p>
    <img [src]="menu.img" alt="{{ menu.title }}">
  
    <div *ngFor="let option of menu.menuOptions | keyvalue">
      <h3>{{ option.key }}</h3>
      <div *ngFor="let item of option.value.items">
        <div>
          <h4>{{ item.display_name }}</h4>
          <img [src]="item.img" alt="{{ item.display_name }}">
          <p *ngIf="item.calories">Calories: {{ item.calories }}</p>
          <p *ngIf="item.price">Price: {{ item.price }}</p>
        </div>
      </div>
    </div>
</div>
  