<div class="menu-container" *ngIf="menu">
    <h2>{{ menu.title }}</h2>
    <p>{{ menu.description }}</p>
    <img [src]="menu.img" alt="{{ menu.title }}">
  
    <div *ngFor="let option of menu.menuOptions | keyvalue">
        <div *ngIf = "option.key=='ice'">
            <app-ice-component [menuSection]="option.value"></app-ice-component>
        </div>
        <div *ngIf = "option.key=='size'">
            <app-size-component [menuSection]="option.value"></app-size-component>
        </div>
        <div *ngIf = "option.key=='dairy'">

        </div>
        <div *ngIf = "option.key=='syrup'">

        </div>
        <div *ngIf = "option.key=='topping'">

        </div>
        <div *ngIf = "option.key=='espresso'">

        </div>
        <div *ngIf = "option.key=='sweetness'">

        </div>

        <div *ngIf = "option.key=='flavor'">

        </div>

        <div *ngIf = "option.key=='sweetenerType'">

        </div>

    </div>
</div>
  