<div class="menu-title">
    <h1>Menu</h1>
</div>
<div class="categories-container">
    <a [routerLink]="['/menu', 'lattes']">
        <div class="category-item">
            <div class="category-circle">
                <img src="\assets\images\icons\boba-cup.svg" alt="Lattes">
            </div>
            <div class="category-label font-xlg">Lattes</div>
        </div>
    </a>

    <a [routerLink]="['/menu', 'boba-tea']">
        <div class="category-item">
            <div class="category-circle">
                <img src="\assets\images\icons\boba-cup.svg" alt="Boba Tea">
            </div>
            <div class="category-label font-xlg">Boba Tea</div>
        </div>
    </a>

    <a [routerLink]="['/menu', 'hot-teas']">
        <div class="category-item">
            <div class="category-circle">
                <img src="\assets\images\icons\boba-cup.svg" alt="Hot Teas">
            </div>
            <div class="category-label font-xlg">Hot Teas</div>
        </div>
    </a>
</div>
