.features-container {
    margin-top: 40px;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    text-align: center; /* Center text inside the container */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin-bottom: 4em; /* pushes margin down roughly 60px */
}

.featured-panel {
    margin-top: 20px; /* Adjust spacing between h1 and the panel */
    background-color: black;
    width: 700px;
    height: 350px;
    border-radius: 12px;
    background-image: url('/assets/images/featured/boba-tea-featured.jpg');
    background-size: cover;
    position: relative;
}

.featured-panel p {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgb(20, 20, 20);
    position: absolute; /* positions p text relative to featured panel */
    bottom: 10px;
    left: 30px;
}

.features-container h2 {
    margin: 0;
    color: #333; /* Dark text color */
    font-size: 2em; /* Adjust as needed */
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    
}