<div class="about-us-jumbotron">
    <h1 class="about-us-jumbotron-text">
        Welcome to
        <br>
        <span>Boba & Co.</span>
    </h1>
</div>
<section class="container about-us-section">
    <p class="about-us-text font-md">
        At Boba & Co, we believe every sip tells a story. Ours began with a simple idea: create a place where people can escape the rush of everyday life 
        and find joy in the little things—like a perfect cup of bubble tea.
    </p>
    <p class="about-us-text font-md">
        For us, Boba & Co is about connection. Whether it’s the connection between flavors, or the connection between people, 
        we’re here to make your day a little brighter—one cup at a time.
    </p>
    <p class="about-us-text font-md">
        We can’t wait to share our passion with you, and we’re so grateful to be a part of your story too.
    </p>
    <p class="about-us-text font-md">
        With love,<br>
        The Boba & Co Family
    </p>
</section>
<app-footer></app-footer>